*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: system-ui;   
}

html,body{
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    padding: 1.2vw 3vw;
}
nav{
    height: 8vh;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;


}

nav a{
    text-decoration: none;
    color:black;
    font-size: 1.4vw;
}
nav i{
    background-color: black;
    color: white;
font-size: 1.2vw;
    border-radius: 50%;
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    width: unset !important;
}


.hero{
    /* background-color: gray; */
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction:column ;
    justify-content: center;
    gap: 3vw;
}

.hero h1{
    font-size: 4.6vw;
    font-weight: 500;
}
.container{
    display: flex;
    justify-content: space-between;
}
.container p{
    width: 40%;
    font-size: 1.2vw;
    /* text-align: jus; */
}
.container aside{
    width: 25vw;
}
.container aside div{
    width: 100%;
    border-top: 1px solid black;
    padding: 10px 4px;
    color: black;
    font-size: 1.2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}
.container aside div i{
    transform: rotate(-45deg);
    opacity: 0;
}
.container aside div:hover i{
    opacity: 1;
    color: #000;
}


@media(max-width: 768px){

    .hero{
        flex-direction: column;
    }

    nav a{
        font-size: 3.2vw;
    }
    nav i{
        font-size: 3.5vw;
        padding: 10px 10px;
    }
    .hero h1{
    font-size: 10vw;
    font-weight: 500;
}
.container{
    flex-direction: column;
    gap: 5vw;
}
.container p{
    width: 100%;
    font-size: 3.5vw;
    /* text-align: jus; */
}
.container aside{
    width: 100%;
}
.container aside div {
    font-size: 4vw;
}


}