*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body,html{
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

main{
    width: 100%;
    height: 100vh;
    /* background-color: rgb(145, 41, 230); */
    display: flex;
    padding: 5vw 4vw 0 4vw;
}

.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:2vw ;
}
.left h1{
    font-size: 8vw;
    font-weight: 100;
}
.color{
    display: flex;
    align-items: center;
    border: 1px solid black;
    padding: 5px 10px ;
    width: fit-content;
    border-radius: 30px;
    gap: 5px;
}

.color p{
    font-size: 1.5vw;
    font-weight: 500;
margin-right: 15px;
}
.brown{
    width: 20px;
    height: 20px;
    background-color: brown;
    border-radius: 50%;
}

.black{
  width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
}
.details h2{
    font-size: 2.2vw;
    margin: 10px 0;
}
.details p{
    font-size: 1vw;
    color: rgb(100, 100, 100);
    text-align: justify;
    width: 70%;
}

/* right */


.right{
    width: 30%;
    padding-top:4.5vw ;
    position: relative;
}
.ranking{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 15px 0 0;
    margin-bottom: 10px;
}
.ranking h4{
    font-size: 3vw;
    font-weight: 200;
}
.ratings{
    display: flex;
    align-items: center;
}

.ratings h6{
    font-size: 1.2vw;
    font-weight: 200;
}
.ratings i{
    color: goldenrod;
}
.container{
     display: flex;
}

.img{
    width: 100%;
    height: 75vh;
}
.img img{
    width: 100%;
    height: 100%;
}
.box{
    width: 10vw;
    height: 20vh;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    right: -20%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box p{
    font-size: 1.5vw;
    font-weight: 500;
}
#rotated{
    /* color: red; */
    rotate: -90deg;
    /* transform: rotate(-90deg); */
    position: absolute;
    bottom: 20%;
    left: -36%;
    font-size: 2.2vw;
    font-weight: 100;
}