*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

#box{
    width: 300px;
    height: 300px;
    background-color: yellow;
    /* animation-name: abdullah; */
    animation-duration: 2s;
    position: absolute;
    animation-delay: 2s;
}

@keyframes abdullah {
    from{
        left: 0;
        rotate: 0;
    }
    to{
        left: 50%;
        rotate: 360deg;
        background-color: cyan;
    }
}



#box2{
    width: 100px;
    height: 100px;
    background-color: antiquewhite;
    position: absolute;
    animation-name: box2;
    animation-duration: 2.5s;
    /* animation khtm hone k bad final position */
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-direction: reverse;
    animation-timing-function: ease-in-out; 
    /* animation-iteration-count: infinite;  */
  
}

@keyframes box2 {
    0%{
        left: 0;
        top: 0;
    }
    50%{
        left: 80%;
        top: 0;
    }
    100%{
        left: 80%;
        top: 80%;
    }
}