* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  /* background-color: red; */
  position: relative;
  padding: 0.1px;
}

#nav {
  height: 11vh;
  width: 100%;
  margin-top: 40px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav img {
  width: 16vw;
  margin-left: 50px;
}

#nav h2 {
  height: 100%;
  width: 20%;
  /* background-color: blueviolet; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid black;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

#nav h2:nth-last-child(2) {
  width: 10%;
}

#nav h2 :nth-last-child(1) {
  width: 40%;
}

#nav h3 {
  display: none;
}

#center {
  width: 100%;
  height: 90%;
  padding: 4vw 3vw;
  position: relative;
}

#content {
  height: 100%;
  width: 100%;
  position: relative;
}

#content video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#overlay {
  width: 100%;
  height: 70%;
  position: absolute;
  bottom: 0;
  padding: 3vw;
}
#over1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  margin-bottom: 2vw;
}

#over1 h1 {
  font-size: 4.5vw;
  font-weight: 600;
  text-transform: capitalize;
  mix-blend-mode: difference;
}

#over1 h2 {
  border-radius: 50%;
  border: 1px solid #fff;
  width: 80px;
  height: 80px;
  padding: 18px;
  margin-top: 40px;
  font-weight: 300;
  background-color: transparent;
  color: #fff;
  text-align: center;
}
#over2 {
  border-top: 2px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding-top: 2vw 0;
}
#over2 h4 {
  font-size: 1.4vw;
  font-weight: 400;
}

#over2 img {
  height: 3vw;
  cursor: pointer;
  margin-right: 1vw;
  mix-blend-mode: difference;
}

#scroll {
  height: 40vh;
  width: 100%;
  white-space: nowrap;
  overflow-x: hidden;
  overflow-y: hidden;
  padding: 1vw;
}
#container {
  height: 120%;
  width: fit-content;
  display: inline-block;
  padding: 2vw;
  animation-name: scorll;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

#scroll img {
  width: 15%;
  height: 90%;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 50%;
  margin: 0 1vw;
}

@keyframes scorll {
  from {
    transform: translate(0);
  }
  to {
    transform: translate(-100%);
  }
}
#alphabet{
    height: 11vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 4px;
    margin-right: 2vw;
    text-decoration: underline;
}
#alphabet h6{
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 4px;
    padding: 0.5vw 0.7vw;    
    border-radius: 50%;
    transition: all 0.3s ease;
    cursor: pointer;
}
#alphabet h6:hover{
    border: 1px solid black;
}


#page2{
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 3vw;
}
#page2-part1{
  height: 100%;
  width: 50%;
  background-image: url('https://images.unsplash.com/photo-1546961329-78bef0414d7c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
  padding: 0.5vw 0.7vw;
}

#page2-part1 h1{
  position: absolute;
  bottom: -40px;
  letter-spacing: 2px;
  font-size: 3vw;
  text-transform: uppercase;
}

#page2-part2{
  width: 45%;
  height: 100%;

} 

#page2-part2 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: center;
}
#writing{
  margin: 20px 0;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: space-between;
}

#writing h3{
 font-weight: 500;
 font-size: 1.2vw;
}
#writing p{
  font-size: 0.8vw;
  font-weight: 500;
}
#page3{
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 5vw;
  position: relative;
}
#left{
  width: 45%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


#para{
  position: absolute;
  bottom: 4.2vh;
  left: 14vw;
  font-size: 1.5vw;
  font-weight: 400;
}

#right{
  width: 45%;
  height: 100%;
  background-image: url('https://images.unsplash.com/photo-1546961329-78bef0414d7c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover; 
  background-position: center;

}



#middle-section{
  width: 100%;
  height: 90%;
  padding: 3vw 4vw;
  position: relative;
}


#vhs2{
  height: 100%;
  width: 100%;
  position: relative;
}

#vhs2 video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


#updates{
  width: 100%;
  height: 100%;
  padding: 5vw 4vw;
  position: relative;
}

#updates>h1{
  font-size: 4vw;
  font-weight: 500;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-bottom: 7vh;
}
.elem{
  height: 16vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  align-items: center;
  padding: 0 2vw;
  position: relative;
  cursor: pointer;
}


.elem img{
height: 100px;
width: 100px;
position: absolute;
border-radius: 50%;
left: 12%;
opacity: 0;
transition: all 0.5s ease;
object-fit: cover;  

}

.elem h4{
  font-size: 4vw;
  font-weight: 500;
  width: 6%;
  text-transform: uppercase;
}


.elem .elem-part2{
  width: 45%;
}

.elem-part2 h1{
  font-size: 2.7vw;

}

.elem-part2 h5{
  font-size: 0.8vw;
}
.elem:nth-last-child(1){
  border-bottom: 2px solid black;

}
.elem:hover img{
  opacity: 1;
  left: 24%;
}